<!-- Modal -->
<div class="modal fade" id="mdp{{value.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Modification de {{ value.name }} {{ value.surname }}</h4>
            </div>
            <div class="modal-body">
               
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" class="active"><a href="#passwd" aria-controls="accueil" role="tab" data-toggle="tab">Mot de passe</a>
                    </li>
                    <li role="presentation"><a href="#profil" aria-controls="accueil" role="tab" data-toggle="tab">Profil</a>
                    </li>
                </ul>
                <br>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="passwd">
                        <form role="form" action="{{ urlPath }}/index.php/updateUser" method="post">
                            <fieldset>
                                <label>Mot de passe</label>
                                <div class="row">
                                    <div class="col-md-11">
                                        <input type="password" name="passwd" id="inputPasswd{{value.id}}" class="form-control" id="mdp" value="{{ value.mdp }}">
                                    </div>
                                    <div class="<col-md-1">
                                        <button id="show" type="button" onmousedown="toggleText({{value.id}})" onmouseup="togglePasswd({{value.id}})" class="btn btn-default">
                                            <span class="glyphicon glyphicon-eye-open"></span>
                                        </button>
                                    </div>
                                </div>
                                <br>
                                <input type="hidden" name="id" id="id" class="form-control" id="id" value="{{ value.id }}">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                <input class="btn btn-primary" type="submit" value="Modifier">
                            </fieldset>
                        </form>
                    </div>
                    
                    <div role="tabpanel" class="tab-pane" id="profil">
                        <form role="form" action="{{ urlPath }}/index.php/updateProfilUser" method="post">
                            <fieldset>
                                <label>Profil</label>
                                <select class="form-control" name="profilSelect" id="profil">
                                    {% for profil in static('Profils', 'getUnusedProfil') %}
                                        <option value="{{ profil.id }}">{{ profil.libelle }}</option>
                                    {% endfor %}
                                </select>
                                <br>
                                <input type="hidden" name="id" id="id" class="form-control" id="id" value="{{ value.id }}">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                                <button class="btn btn-primary">Modifier</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


